                <!-- start: PAGE -->
        <div class="main-content" style="padding-top: 20px;">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <div class="container">
               <div class="jumbotron">
                   <h3>Welcome</h3>
                   <h5>This is our first ever mean stack application</h5>
               </div>
           </div>
        </div>