 <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="logo" style="text-align: center;">
            MEAN<i class="clip-clip"></i>STACK
        </div>
        <!-- start: LOGIN BOX -->
        <div class="login">
            <h3>Sign in to your account</h3>
            <p>
                Please enter your name and password to log in.
            </p>
            <form class="form-login" ng-submit="login()">
               <div ng-if="error_message">
                    <div class="alert alert-danger">
                        <p class="text-warning" style="white-space:nowrap; text-align: center;">{{error_message}}</p>
                    </div>
                </div>
                <fieldset>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="email" class="form-control" name="email" placeholder="email" ng-model="user.email" required>
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <div class="form-group form-actions">
                        <span class="input-icon">
                            <input type="password" class="form-control password" name="password" placeholder="Password" ng-model="user.password" required>
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <div class="form-actions">
                        <label for="remember" class="checkbox-inline">
                            <input type="checkbox" class="grey remember" id="remember" name="remember">
                            Keep me signed in
                        </label>
                        <button type="submit" class="btn btn-bricky pull-right">
                            Login <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                 
                </fieldset>
            </form>
        </div>
        <!-- end: LOGIN BOX -->
      
  

</div>