                <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                            <h4 class="modal-title">Panel Configuration</h4>
                        </div>
                        <div class="modal-body">
                            Here will be a configuration form
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                            <button type="button" class="btn btn-primary">
                    Save changes
                </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container" ng-controller="postController">
               <div ui-view="breadcrumb"></div>
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: TEXT FIELDS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i> Post New Blog
                            </div>
                            <div class="panel-body">
                            <div ng-if="error_message">
                                    <div class="alert alert-danger">
                                        <p class="text-warning" style="white-space:nowrap; text-align: center;">{{error_message}}</p>
                                    </div>
                                </div>
                                <form role="form" name="mypost" class="form-horizontal" ng-submit="addpost(mypost.$valid)" novalidate>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                           Title
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Post title" name="title" id="form-field-1" class="form-control" ng-model="blog.title" ng-required="true">
                                             <span class="help-block" ng-show="mypost.title.$touched && mypost.title.$invalid">
                                                Title name cannot be empty
                                            </span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-2">
                                            Description
                                        </label>
                                        <div class="col-sm-9">
                                            <textarea placeholder="description" rows="5" id="form-field-2" class="form-control" name="description" ng-model="blog.description" ng-required="true"></textarea>
                                             <span class="help-block" ng-show="mypost.description.$touched && mypost.description.$invalid">
                                                Description cannot be empty
                                            </span>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                           Author
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Author" name="author" id="form-field-1" class="form-control" ng-model="blog.author" ng-required="true">
                                             <span class="help-block" ng-show="mypost.author.$touched && mypost.author.$invalid">
                                                Author cannot be empty
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-2">
                                            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="mypost.$invalid">Submit</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- end: TEXT FIELDS PANEL -->
                    </div>
                </div>

                <!-- end: PAGE CONTENT-->
            </div>
        </div>