                <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                            <h4 class="modal-title">Panel Configuration</h4>
                        </div>
                        <div class="modal-body">
                            Here will be a configuration form
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                            <button type="button" class="btn btn-primary">
                    Save changes
                </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container" ng-controller="postController">
               <div ui-view="breadcrumb"></div>
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: TEXT FIELDS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i> Edit Author
                            </div>
                            <div class="panel-body">
                                <div ng-if="error_message">
                                    <div class="alert alert-danger">
                                        <p class="text-warning" style="white-space:nowrap; text-align: center;">{{error_message}}</p>
                                        }
                                    </div>
                                </div>
                                <form class="form-horizontal" name="editauthor" ng-submit="updateAuthor(editauthor.$valid)"  novalidate>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                           First Name
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="First Name" id="form-field-1" name="firstname" class="form-control" ng-model="author.firstname" ng-required="true">
                                              <span class="help-block" ng-show="editauthor.firstname.$touched && editauthor.firstname.$invalid">
                                                First name cannot be empty
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                           Last Name
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Last Name" id="form-field-1" class="form-control" name="lastname" ng-model="author.lastname" ng-required="true">
                                             <span class="help-block" ng-show="editauthor.lastname.$touched && editauthor.lastname.$invalid">
                                                Last name cannot be empty
                                            </span>
                                        </div>
                                    </div>


                                     <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                           Address
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" placeholder="Address" id="form-field-1" name="address" class="form-control" ng-model="author.address" ng-required="true">
                                              <span class="help-block" ng-show="editauthor.address.$touched && editauthor.address.$invalid">
                                                Address name cannot be empty
                                            </span>
                                        </div>
                                       
                                    </div>

                                      <div class="form-group">
                                        <label class="col-sm-2 control-label" for="form-field-1">
                                          Date Of Birth
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" data-date-format="yy-mm-dd" placeholder="Last Name" id="form-field-1" name="dateofbirth" class="form-control" ng-model="author.dateofbirth" ng-required="true">
                                              <span class="help-block" ng-show="editauthor.dateofbirth.$touched && editauthor.dateofbirth.$invalid">
                                                Date of birth cannot be empty
                                            </span>
                                        </div>
                                    </div>

                                    


                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-2">
                                            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="editauthor.$invalid">Submit</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <!-- end: TEXT FIELDS PANEL -->
                    </div>
                </div>

                <!-- end: PAGE CONTENT-->
            </div>
        </div>