                <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                            <h4 class="modal-title">Panel Configuration</h4>
                        </div>
                        <div class="modal-body">
                            Here will be a configuration form
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                            <button type="button" class="btn btn-primary">
                    Save changes
                </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container">
               <div ui-view="breadcrumb"></div>
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert" ng-show="flash.getMessage()">
                            <b>Alert!</b>
                            <p>{{flash.getMessage()}}</p>
                          </div>

                        <!-- start: TEXT FIELDS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i> List of Authors
                            </div>
                            <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                                            <thead>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Date Of Birth</th>
                                                <th>Action</th>
                                            </thead>

                                              <tbody>
                                                <tr ng-repeat="author in author | orderBy:'firstname':true"> 
                                                  <td>{{author.firstname}} {{author.lastname}}</td>
                                                  <td>{{author.address}}</td>
                                                  <td>{{author.dateofbirth}}</td>
                                                  <td>
                                                    <!-- <a href="#/author/edit/{{author._id}}" ng-click="editAuthor(author._id)" class="btn btn-default btn-sm">Edit</a> --> &nbsp; 
                                                    <a ui-sref="author.edit({id: author._id})" class="btn btn-default btn-sm">Edit</a>
                                                    <a href="#/author/delete/{{author._id}}" ng-click="deleteAuthor(author._id)" class="btn btn-default btn-sm">Delete</a>
                                                  </td>
                                                </tr>
                                            </tbody>
                                    </table>
                            </div>
                        </div>
                        <!-- end: TEXT FIELDS PANEL -->
                    </div>
                </div>

                <!-- end: PAGE CONTENT-->
            </div>
        </div>

     <script>
        jQuery(document).ready(function() {
            TableData.init();
        });
    </script>