<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <!-- start: TOP NAVIGATION CONTAINER -->
    <div class="container">
        <div class="navbar-header">
            <!-- start: RESPONSIVE MENU TOGGLER -->
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="clip-list-2">
                </span>
            </button>
            <!-- end: RESPONSIVE MENU TOGGLER -->
            <!-- start: LOGO -->
            <a class="navbar-brand" href="index.html">
                MEAN
                <i class="clip-clip">
                </i>
                STACK
            </a>
            <!-- end: LOGO -->
        </div>
        <div ui-view="header">
        </div>
    </div>
    <!-- end: TOP NAVIGATION CONTAINER -->
</div>
<!-- end: HEADER -->
<div class="main-container">
    <div class="navbar-content">
        <div ui-view="sidebar">
        </div>
    </div>
    
    <flash-message duration="5000" show-close="true">
        <div class="my-flash"></div>
    </flash-message>

    <div ui-view="">
    </div>
</div>
